{{- $ns := .Values.namespace | default "default" -}}
{{- range $svc := .Values.services }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ $.Release.Name }}-{{ $svc.name }}
  namespace: {{ $ns }}
spec:
  replicas: {{ $svc.replicaCount }}
  selector:
    matchLabels:
      app: {{ $svc.name }}
  template:
    metadata:
      labels:
        app: {{ $svc.name }}
    spec:
      {{- if $.Values.global.imagePullSecretName }}
      imagePullSecrets:
        - name: {{ $.Values.global.imagePullSecretName }}
      {{- end }}
      {{- if $svc.dependsOn }}
      initContainers:
        - name: wait-for-dependencies
          image: busybox:1.35
          command:
            - sh
            - -c
            - |
              {{- range $dep := $svc.dependsOn }}
              until nslookup {{ $dep }}; do echo "Waiting for {{ $dep }}"; sleep 2; done;
              {{- end }}
      {{- end }}
      containers:
        - name: {{ $svc.name }}
          image: {{ $.Values.global.registry }}/{{ $svc.image }}
          imagePullPolicy: {{ $.Values.global.imagePullPolicy }}
          ports:
            - containerPort: {{ $svc.port }}
          {{- if $svc.env }}
          env:
          {{- range $key, $val := $svc.env }}
            - name: {{ $key }}
              value: {{ $val }}
          {{- end }}
          {{- end }}
          securityContext:
            runAsNonRoot: false
            allowPrivilegeEscalation: true
---
{{- end }}
